<form action="/submit" method="POST">
    <label for="station_start">Departure Start:</label>
    <select id="station_start" name="station_start">
        <option value="Torresdale">Torresdale</option>
        <option value="30th Street Station">30th Street Station</option>
    </select><br><br>

    <label for="station_end">Arrival Station:</label>
    <select id="station_end" name="station_end">
        <option value="Torresdale">Torresdale</option>
        <option value="30th Street Station">30th Street Station</option>
    </select><br><br>

    <button type="submit">Submit</button>
</form>